/* --- ELEMENT BASED STYLING --- */

html, body, div, p, span, h1, h2 {
	margin:0;
	padding:0;
	font-family:Segoe UI, sans-serif;
}

body {
	width:960px;
	margin:20px auto;
	border:1px solid gray;
	padding:20px;
	color:#333;
}

h1 {
	font-size:32pt;
	padding:10px 0px;
	font-weight:normal;
}

h2 {
	font-size:16pt;
	padding:6px;
	margin-bottom:4px;
	font-weight:500;
}

a {
	transition:border-bottom 0.2s ease;
	color:rgb(22, 122, 198);
	text-decoration:none;
	border-bottom:1px solid transparent;
}

a:hover {
	/*text-decoration:underline;*/
	border-bottom:1px solid rgb(22, 122, 198);
}

select {
	width:179px;
    padding:3px;
}

/* --- JSF ID/CLASS BASED STYLING --- */

#javax_faces_developmentstage_messages li {
	color:rgb(204, 24, 30) !important;
}


/* --- PERSONAL ID/CLASS BASED STYLING --- */

.roomView th {
    font-weight:500;
}

.roomView th, .roomView td {
    padding:4px;
	text-align:left;
}

.form {
	padding-left:12px;
}

.loginForm th, .loginForm td  {
	padding:4px;
	vertical-align:top;
}

.loginForm input {
	padding:3px;
}

#hint {
	color:#999;
}

.italic {
	font-style:italic;
}