<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 

    <h:body>
        <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
        </ui:insert> 
        <h:dataTable styleClass="roomView" var="userVar" value="#{chargeListController.getCharge(param['user_token'])}">
            <h:column>
                <f:facet name="header">Name</f:facet>
                <h:outputText value="#{userVar.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Amount</f:facet>
                <h:outputText value="#{userVar.amount}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Date</f:facet>
                <h:outputText value="#{userVar.date}"/>
            </h:column>

        </h:dataTable>

    </h:body>

</html>