<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 

    <h:body>
        <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
        </ui:insert> 
        <h:dataTable styleClass="roomView" var="userVar" value="#{userListController.users}">
            <h:column>
                <f:facet name="header">Username</f:facet>
                <h:outputText value="#{userVar.username}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Fullname</f:facet>
                <h:outputText value="#{userVar.fullname}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Subscription</f:facet>
                <h:outputText rendered="#{userVar.subscription == 1}" value="Free User" />
                <h:outputText rendered="#{userVar.subscription == 2}" value="Standard User" />
                <h:outputText rendered="#{userVar.subscription == 3}" value="Premium User" />
                <h:outputText rendered="#{userVar.subscription == 4}" value="Administrator" />
            </h:column>
            <h:column>
                <f:facet name="header">View Charges</f:facet>
                <h:link value="View Charges" outcome="viewtransactions">
                    <f:param name="user_token" value="#{userVar.token}" />
                </h:link>
            </h:column>
        </h:dataTable>

    </h:body>

</html>