<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 
	<h:body>
		<ui:insert name="header" >
			<ui:include src="/templates/header.xhtml" />
        </ui:insert>
		<br/>
		<p><b>What changes would you like to make to your account?</b></p>
		<ul>
			<li><h:link value="Change your password" outcome="changepassword" /></li>
			<li><h:link value="Delete your account" outcome="deleteconfirmation" /></li>
			<li><h:link value="Modify your subscription" outcome="modifysubscription" /></li>
		</ul>
		<br/>
	</h:body>
</html>