<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 

    <h:body>
        <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
        </ui:insert>

        <h:form>
            <h:dataTable styleClass="roomView" var="roomVar" value="#{roomListController.rooms}">
                <h:column>
                    <f:facet name="header">Room ID</f:facet>
                    <h:outputText value="#{roomVar.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Room Occupant</f:facet>
                    <h:outputText rendered="#{roomVar.unbooked}" value="empty" styleClass="italic" />
                    <h:outputText value="#{roomVar.fullname}" rendered="#{!roomVar.reserved}" />
                    <h:outputText value="reserved" rendered="#{roomVar.reserved}" styleClass="italic" />
                </h:column>
                <h:column>
                    <f:facet name="header">Book</f:facet>
                    <h:commandLink value="Book" action="#{roomController.makeBooking(userController.username)}" rendered="#{roomVar.unbooked}">
                        <f:param name="id" value="#{roomVar.id}" />
                    </h:commandLink>

                    <h:commandLink value="Cancel Reservation" action="#{roomController.cancelReservation}" rendered="#{roomVar.reserved and roomVar.username == userController.username}">
                        <f:param name="id" value="#{roomVar.id}" />
                    </h:commandLink>

                    <h:commandLink value="Cancel Booking" action="#{roomController.cancelBooking}" rendered="#{!roomVar.reserved and roomVar.username == userController.username and userController.subscription >= 2}">
                        <f:param name="id" value="#{roomVar.id}" />
                    </h:commandLink>

                    <h:commandLink value="Cancel (30$)" action="#{roomController.cancelBooking}" rendered="#{!roomVar.reserved and roomVar.username == userController.username and userController.subscription == 1}">
                        <f:param name="id" value="#{roomVar.id}" />
                    </h:commandLink>

                    <h:panelGroup rendered="#{roomVar.unbooked and userController.subscription >= 3}"> - </h:panelGroup>

                    <h:commandLink value="Reserve" action="#{roomController.makeReservation(userController.username)}" rendered="#{roomVar.unbooked and userController.subscription >= 3}">
                        <f:param name="id" value="#{roomVar.id}" />
                    </h:commandLink>

                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        <a href="/assignment-1/exportcsv">Export as CSV</a>
    </h:body>
		<h:form>
			<h:dataTable styleClass="roomView" var="roomVar" value="#{roomListController.rooms}">
				<h:column>
					<f:facet name="header">Room ID</f:facet>
					<h:outputText value="#{roomVar.id}"/>
				</h:column>
				<h:column>
					<f:facet name="header">Room Occupant</f:facet>
					<h:outputText rendered="#{roomVar.unbooked}" value="empty" styleClass="italic" />
					<h:outputText value="#{roomVar.fullname}" rendered="#{!roomVar.reserved}" />
					<h:outputText value="reserved" rendered="#{roomVar.reserved}" styleClass="italic" />
				</h:column>
				<h:column>
					<f:facet name="header">Book</f:facet>
					<h:commandLink value="Book" action="#{roomController.makeBooking(userController.username)}" rendered="#{roomVar.unbooked}">
						<f:param name="id" value="#{roomVar.id}" />
					</h:commandLink>

					<h:commandLink value="Cancel Reservation" action="#{roomController.cancelReservation}" rendered="#{roomVar.reserved and roomVar.username == userController.username}">
						<f:param name="id" value="#{roomVar.id}" />
					</h:commandLink>

					<h:commandLink value="Cancel Booking" action="#{roomController.cancelBooking}" rendered="#{!roomVar.reserved and roomVar.username == userController.username and userController.subscription >= 2}">
						<f:param name="id" value="#{roomVar.id}" />
					</h:commandLink>
					
					<h:commandLink value="Cancel (30$)" action="#{roomController.cancelBooking}" rendered="#{!roomVar.reserved and roomVar.username == userController.username and userController.subscription == 1}">
                                            <f:param name="id" value="#{roomVar.id}" />
                                        </h:commandLink>

					<h:panelGroup rendered="#{roomVar.unbooked and userController.subscription >= 3}"> - </h:panelGroup>

					<h:commandLink value="Reserve" action="#{roomController.makeReservation(userController.username)}" rendered="#{roomVar.unbooked and userController.subscription >= 3}">
						<f:param name="id" value="#{roomVar.id}" />
					</h:commandLink>
				</h:column>
			</h:dataTable>
		</h:form>
		<br/>
		<a href="/assignment-1/exportcsv">Export as CSV</a>
	</h:body>
</html>