<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 
	<h:body>
		<ui:insert name="header" >
			<ui:include src="/templates/header.xhtml" />
        </ui:insert>
		<h:form>
			<br/>
			<p><b>Are you sure you want to delete your account?</b></p>
			<ul>
				<li><h:link value="No thanks." outcome="account" /></li>
				<h:inputHidden id="username" value="#{userController.username}" />
				<li><h:commandLink value="Yes please." action="#{userController.deleteAccount}" /></li>
			</ul>
		</h:form>
	</h:body>
</html>