<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 
	<h:body>
		<ui:insert name="header" >
			<ui:include src="/templates/header.xhtml" />
        </ui:insert>
		<br/>
		<p>Welcome to the system, <h:outputText value="#{userController.fullname}" />.</p>
		<br/>
		<p><b>What would you like to do today?</b></p>
		<ul>
			<li><h:link value="View all bookings" outcome="/system/viewroomlist" /></li>
			<li><h:link value="Make a booking" outcome="/system/booking" /></li>
			<li><h:link value="Manage user account" outcome="/system/account" /></li>
		</ul>
		<h:panelGroup rendered="#{userController.isAdmin}">
			<br/>
			<p><b>Administrator Functions</b></p>
			<ul>
				<li><h:link value="View all users" outcome="/system_admin/viewaccounts" /></li>
				<li><a href="/aip-assignment-2/api/roomlist">View REST API</a></li>
			</ul>
		</h:panelGroup>
		<br/>
	</h:body>
</html>