<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 
    <h:body>
        <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
        </ui:insert>
        <h:form>
            <br/>
            <p><b>What would you like to change your subscription to?</b></p><br/>

            <h:form>
                <h:inputHidden id="username" value="#{userController.username}" />
                <table class="loginForm">
                    <tr>
                        <td><h:outputText value="Subscription" /></td>

                        <td>
                            <h:selectOneMenu value="#{userController.subscription}">
                                <f:selectItem itemValue="1" itemLabel="Free" />
                                <f:selectItem itemValue="2" itemLabel="Standard - 11$" />
                                <f:selectItem itemValue="3" itemLabel="Premium - 20$" />
                            </h:selectOneMenu>
                        </td>
                    </tr>

                    <tr>
                        <td><h:outputText value="Subscription Exp Date:"/>
                            <h:outputText value="#{userController.subExpire}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><h:commandButton id="submit" action="#{userController.modifySubscription}" value="Submit"></h:commandButton></td>
                    </tr>
                </table>
            </h:form>
        </h:form>
        <h:messages style="color: red;"/>
    </h:body>
</html>