<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert>
    <h:body>
        <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
        </ui:insert> 

        <h:body>
            <div class="form">
                <h2>Register for the System</h2>
                <h:form>
                    <table class="loginForm">
                        <tr>
                            <td><h:outputText value="Full Name" /></td>
                            <td><h:inputText id="fullname" value="#{userController.fullname}" required="true" requiredMessage=" Please enter your full name." autocomplete="off" /><h:message for="fullname"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Username" /></td>
                            <td><h:inputText id="username" value="#{userController.username}" required="true" requiredMessage=" Please enter a username." autocomplete="off" validatorMessage=" Username must be at least 3 characters." /><h:message for="username" errorClass="requiredMessage"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Password" /></td>
                            <td><h:inputSecret id="password" value="#{userController.password}" required="true" requiredMessage=" Please enter a password." autocomplete="off" validatorMessage=" Password must be at least 8 characters." /><h:message for="password"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Subscription" /></td>
                            <td>
                                <h:selectOneMenu value="#{userController.subscription}">
                                    <f:selectItem itemValue="1" itemLabel="Free" />
                                    <f:selectItem itemValue="2" itemLabel="Standard" />
                                    <f:selectItem itemValue="3" itemLabel="Premium" />
                                </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>
                        <tr><!--Items for card-->
                            <td><h:outputText value="Card Number" /></td>
                            <td><h:inputText id="cardnumber" value="#{userController.cardNumber}" required="true" 
                                             requiredMessage=" Please enter card number." autocomplete="off" 
                                             validatorMessage=" Card number needs to be 16 digits, 5520000000000000" />
                                <h:message for="cardnumber"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Expiry Month" /></td>
                            <td><h:inputText id="cardmonthexpiry" value="#{userController.expiremonth}" required="true" 
                                             requiredMessage=" Please enter card expiry month." autocomplete="off" 
                                             validatorMessage=" Numbers only, enter in format: 03" />
                                <h:message for="cardmonthexpiry"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Expiry Year" /></td>
                            <td><h:inputText id="cardyearexpiry" value="#{userController.expireyear}" required="true" 
                                             requiredMessage=" Please enter card expiry year." autocomplete="off" 
                                             validatorMessage=" Numbers only, enter in format: 2020" />
                                <h:message for="cardyearexpiry"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="CVC" /></td>
                            <td><h:inputText id="cardcvc" value="#{userController.cvc}" required="true" 
                                             requiredMessage=" Please enter card CVC." autocomplete="off" 
                                             validatorMessage=" Numbers only, CVC must be 3 numbers." />
                                <h:message for="cardcvc"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Address Line 1" /></td>
                            <td><h:inputText id="address1" value="#{userController.address1}" required="true" 
                                             requiredMessage=" Please enter address." autocomplete="off" />
                                <h:message for="cardaddress1"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Address Line 2" /></td>
                            <td><h:inputText id="address2" value="#{userController.address2}" required="false" 
                                             requiredMessage=" Please enter address." autocomplete="off" />
                                <h:message for="cardaddress2"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="City" /></td>
                            <td><h:inputText id="city" value="#{userController.city}" required="true" 
                                             requiredMessage=" Please enter city." autocomplete="off" />
                                <h:message for="cardcity"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Postcode" /></td>
                            <td><h:inputText id="postcode" value="#{userController.postcode}" required="true" 
                                             requiredMessage=" Please enter postcode." autocomplete="off" 
                                             validatorMessage=" Numbers only, postcode must be 4 numbers." />
                                <h:message for="cardpostcode"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="State" /></td>
                            <td><h:inputText id="state" value="#{userController.state}" required="true" 
                                             requiredMessage=" Please enter state." autocomplete="off" />
                                <h:message for="cardstate"></h:message></td>
                        </tr>
                        <tr>
                            <td><h:outputText value="Country" /></td>
                            <td><h:inputText id="country" value="#{userController.country}" required="true" 
                                             requiredMessage=" Please enter country." autocomplete="off" />
                                <h:message for="cardcountry"></h:message></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><h:commandButton id="submit" 
                                                 action="#{userController.register}" 
                                                 value="Register"></h:commandButton></td>
                        </tr>
                    </table>
                </h:form>
            </div>
        </h:body>

    </h:body>
</html>